HouseholdRelationship/HouseholdRelationship/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49777/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HouseHoldApp_Service" />
  <xs:import schemaLocation="http://localhost:49777/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HouseHoldApp_Service.Model" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HouseHoldApp_Service" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HouseHoldApp_Service" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddingUsersDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HouseHoldApp_Service.Model" minOccurs="0" name="obj" nillable="true" type="q3:ArrayOfHousehold_Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddingUsersDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HouseHoldApp_Service.Model" minOccurs="0" name="AddingUsersDetailResult" nillable="true" type="q4:ArrayOfHousehold_Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddingRelations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HouseHoldApp_Service.Model" minOccurs="0" name="obj" nillable="true" type="q5:ArrayOfRelationship_Mapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddingRelationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchingUsersDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HouseHoldApp_Service.Model" minOccurs="0" name="obj" nillable="true" type="q6:UserSearchInfo_table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchingUsersDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HouseHoldApp_Service.Model" minOccurs="0" name="SearchingUsersDetailResult" nillable="true" type="q7:ArrayOfUserSearchInfo_table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditingRelationShipDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditingRelationShipDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HouseHoldApp_Service.Model" minOccurs="0" name="EditingRelationShipDetailResult" nillable="true" type="q8:ArrayOfHousehold_Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUpdatedUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUpdatedUserDetailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddingUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HouseHoldApp_Service.Model" minOccurs="0" name="tbl_UserDetails" nillable="true" type="q9:UserInfo_Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddingUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddingUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GettingRelationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GettingRelationDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HouseHoldApp_Service.Model" minOccurs="0" name="GettingRelationDataResult" nillable="true" type="q10:ArrayOfRelationship_Mapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindExistingRelations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HouseHoldApp_Service.Model" minOccurs="0" name="tbl_RelationShip" nillable="true" type="q11:Relationship_Mapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindExistingRelationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HouseHoldApp_Service.Model" minOccurs="0" name="FindExistingRelationsResult" nillable="true" type="q12:Relationship_Mapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExistingUserRelations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/HouseHoldApp_Service.Model" minOccurs="0" name="tbl_RelationShip" nillable="true" type="q13:Relationship_Mapping" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExistingUserRelationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ToGetPDFData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToGetPDFDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/HouseHoldApp_Service.Model" minOccurs="0" name="ToGetPDFDataResult" nillable="true" type="q14:ArrayOfData_pdf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Username">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsernameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HouseholdData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HouseholdDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/HouseHoldApp_Service.Model" minOccurs="0" name="HouseholdDataResult" nillable="true" type="q15:ArrayOfHousehold_Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserDetail">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UserDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/HouseHoldApp_Service.Model" minOccurs="0" name="UserDetailResult" nillable="true" type="q16:ArrayOfUserInfo_Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>